html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  height: 100%;
}
body {
  display: flex;
  flex-direction: row;
  margin: 0%;
  background-color: beige;
  overflow: hidden;
  height: 100%;
}
h1 {
  font-family: inherit;
  font-size: 14px;
}
.display {
  position: absolute;
  right: 0px;
  width: 82vw;
  height: 100vh;
}

#overlay {
  background-image: url(./img/1.jpeg);
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#login {
  background: #fff;
}

#logo_place_hoder > img {
  width: 100%;
  height: 100vh;
}

.form_title {
  text-transform: uppercase;
  color: #0452aa;
}

input[type="tel"],
input[type="email"],
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #0452aa;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.9;
}

/*---------------------- Tools Bar ------------------*/
#main-logo {
  height: 69px;
  width: 205px;
  margin-top: 2%;
}
.toolbars {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aquamarine;
  height: 100vh;
  width: 18vw;
  border-right: 1px solid black;
}
.button-group {
  height: 40%;
  width: 100%;
  margin-top: 2%;
}
.btn-fun {
  height: 25%;
  width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  border: 0px;
  background-color: rgba(240, 255, 255, 0);
  border-top: 1px solid gray;
  transition-duration: 0.3s;
}

.clicked {
  background-color: beige;
}

/*---------------------- Display ------------------*/

/*---------------------- Data ------------------*/
.general {
  width: 82vw;
  height: 21.2vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.pay-box {
  height: 70%;
  width: 30%;
  background-color: white;
  margin: 2%;
  border-radius: 35px;
  box-shadow: 0px 0px 12px 1px gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 22px;
}
.box-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: fit-content;
  width: 80vw;
  font-size: 9px;
  padding-left: 2%;
}
#line-to-show {
  height: 15px;
  width: 40px;
  margin-left: 5px;
  margin-right: 5px;
}

.box-body {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
}
table {
  border: 2px solid #009879;
  border-collapse: collapse;
  font-size: 14px;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

th,
th {
  border: 1px solid #000;
  text-align: center;
  padding: 12px 15px;
  height: 25px;
}

tbody {
  overflow: scroll;
  height: 10vh;
  width: 70vw;
}
tbody tr:hover {
  background-color: rgba(128, 128, 128, 0.304);
}

.account {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#name,
#mail,
#phone {
  display: flex;
  flex-direction: row;
}
.edit {
  margin-left: 2%;
  width: 10vw;
  height: 5vh;
}
#infor {
  position: absolute;
  top: 25vh;
  width: 30vw;
}
#btn-edit {
  position: absolute;
  top: 42vh;
  width: 25vw;
}
#in {
  border-bottom: 1px solid gray;
}

.box-display {
  height: 38vh;
  width: 40vw;
  background-color: white;
  margin: 2%;
  border-radius: 35px;
  box-shadow: 0px 0px 12px 1px gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15vh;
  font-family: inherit;
  font-weight: 600;
  font-size: 28px;
}

#ten,
#sdt,
#email,
#old,
#new,
#confirm,
#newpass,
#pass,
#name,
#phone {
  margin: 3px;
  width: 15vw;
  height: 4vh;
}

#ten,
#old {
  margin-top: 25px;
}
.box-hide {
  display: none;
}

.account-hide {
  display: none;
}

.over-lay {
  z-index: 1;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: pink;
}

.box-login-display {
  height: 38vh;
  width: 40vw;
  background-color: white;
  margin: 2%;
  border-radius: 35px;
  box-shadow: 0px 0px 12px 1px gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15vh;
  left: 30vw;
  font-family: inherit;
  font-weight: 600;
  font-size: 28px;
  padding: 32px;
}

.hide-over-lay {
  display: none;
}

.div-add {
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 30vh;
  position: absolute;
  left: 34vw;
  top: 20vh;
}
